@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 72px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
}

.header-container {
  max-width: 1438px;
  width: 100%;
  height: 72px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  max-width: 785px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 113px;
  height: 24px;
}

.nav-list {
  display: flex;
  column-gap: 32px;
}

.book-now-btn {
  padding: 8px 20px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #4caf4f;
  background: #4caf4f;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.hero-section {
  background-image: url("../images/hero-img.jpg");
  height: 943px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.text-section {
  text-align: center;
  margin-top: 185px;
}

.text-section h1 {
  font-size: 64px;
  font-weight: 600;
}

.text-section span {
  color: #4caf4f;
}

.text-section p {
  margin: 27px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.search-destination-section {
  max-width: 844px;
  width: 100%;
  height: 102px;
  background: rgba(243, 243, 243, 0.6);
  backdrop-filter: blur(17.760618209838867px);
  border-radius: 5px;
  margin-top: 107px;
  padding: 19px 26px 19px 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.travel-details-section {
  display: flex;
  align-items: center;
  max-width: 550px;
  width: 100%;
  justify-content: space-between;
}

.line {
  width: 3px;
  height: 48px;
  border-radius: 25px;
  background: #d0d0d0;
}

.search {
  width: 83px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #f2f2f2;
  cursor: pointer;
}
/* Pseudo Elements */
/*.description::after {
  content: url("../images/leaf.svg");
  margin-left: 20px;
  font-size: 24px;
}

.description::before {
  content: "Before - Some Text";
  margin-left: 20px;
  font-size: 24px;
}*/

/*li:first-child {
  background-color: red;
}

li:last-child {
  background-color: green;
}

li:nth-child(2) {
  background-color: yellow;
}*/

/*li:nth-child(1) {
  background-color: blue;
}*/

/*li:nth-child(even) {
  background-color: green;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}*/

/*li::first-letter {
  font-size: 32px;
  color: red;
}

.sometext {
  margin-top: 20px;
}

.sometext::first-line {
  background-color: green;
}*/
